# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/.vs
/x64
/Directx_11_Game_Engine/.vs/Directx_11_Game_Engine/v16
/Directx_11_Game_Engine/Includes
/Directx_11_Game_Engine/Release
/Directx_11_Game_Engine/Debug
/Directx_11_Game_Engine/x64/Debug
/Directx_11_Game_Engine/x64/Release
